<h1>New Account</h1>
<p>sign up for a new Photogur account!</p>

<%= form_for @user do |f| %> 
	<div class="field">
		<%= f.label :email %> 
		<%= f.email_field :email %> 
	</div>

	<div class="field">
		<%= f.label :password %> 
		<%= f.password_field :password %> 
	</div>

	<div class="field">
		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation %> 
	</div>

	<%= f.submit 'sign up!' %> 
<% end %> 