<h1>pictures (<%= @pictures.length %>)</h1>

	<%= link_to("New Picture", "/pictures/new") %>

<% @pictures.each do |picture| %>
	<p><%= picture.title %>, <%= picture.artist%>, uploaded by: <%= picture.user.email %></p>
	<%= link_to picture_path(picture) do %>
		<img src="<%= picture.url %>" alt="<%= picture.title %>">
	<% end %>
	
<% end %>

<h1>recent pictures</h1>
<% @most_recent_pictures.each do |picture| %> 
	<p><%= picture.title %>, <%= picture.artist %></p>
	<img src="<%= picture.url %>" alt="<%= picture.title %>">
<% end %> 

<h1>pictures added in the past month</h1>
<% @picture_month.each do |picture| %> 
	<p><%= picture.title %>, <%= picture.artist %></p>
	<img src="<%= picture.url %>" alt="<%= picture.title %>">
<% end %> 

<h1>pictures added in the last year</h1>
<% if @picture_year.count > 0  %>
	<% @picture_year.each do |picture| %> 
		<p><%= picture.title %>, <%= picture.artist %></p>
		<img src="<%= picture.url %>" alt="<%= picture.title %>">
	<% end %> 
<% else %> 
	<p>no pictures found</p>

	<% end %> 